<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>User Information</h1>
        <div id="user-info">
            <!-- User information will be displayed here -->
        </div>
        <div class="row">
            <form id="user-form" class="col s12">
                <div class="input-field col s6">
                    <input type="text" id="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input type="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../public/js/main.js"></script>
</body>
</html>