body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #26a69a;
    padding: 20px;
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background-color: #26a69a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.btn {
    background-color: #ff5722;
    color: white;
}

.card {
    margin: 20px 0;
}

.card-content {
    padding: 20px;
}

.input-field {
    margin: 20px 0;
}